@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-mono: var(--font-mono);
  --text-xs: var(--font-size-xs);
  --text-xs--line-height: var(--line-height-xs);
  --text-sm: var(--font-size-sm);
  --text-sm--line-height: var(--line-height-sm);
  --text-md: var(--font-size-md);
  --text-md--line-height: var(--line-height-md);
  --text-base: var(--font-size-base);
  --text-base--line-height: var(--line-height-base);
  --text-lg: var(--font-size-lg);
  --text-lg--line-height: var(--line-height-lg);
  --text-xl: var(--font-size-xl);
  --text-xl--line-height: var(--line-height-xl);
  --text-2xl: var(--font-size-2xl);
  --text-2xl--line-height: var(--line-height-2xl);
}
